<!DOCTYPE html>

<head>
  <title>ProBanks - Вклады</title>
  <link href="../css/styles.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Josefin+Sans&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
  <script src="../js/up.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

</head>
<script type="text/javascript">
  function g() {
    console.log("Шалом");
    var range = document.getElementById('rangeValue').innerHTML;
    var sum = document.getElementById('summ').value;
    var url = 'http://localhost:8090/product/card/' + sum + '/' + range;
    $.get(url, function(data) {
      console.log(data);
      let table = "<table border ='1'>";
      for(i = 0; i < data.length; i++) {
        table = table + "<tr><td>" + data[i].name + "</td><td><img src=" + data[i].icon + "></td><td> <div><a href=" + data[i].urlProduct + ">>Ссылка на продукт</a></div></td></tr>";
      }
      table = table + "</table>";
      $("#testw").html(table);
    })
  }
</script>
<body>
<header>
  <div>
    <img src="../pictures/pngwing.com (1).png" alt="логотип"/>
  </div>
  <div>
    <p>ProBanks</p>
  </div>
  <div>
    <form>
      <div>
        <input placeholder="Поиск..." size="35" type="text"/>
      </div>
      <div>
        <button>
          <i class="fa fa-search fa-2x"></i>
        </button>
      </div>

    </form>
  </div>
</header>

<main style="margin-top: 1.5em;">
  <nav class="nav-3">
    <div>
      <a href="../html/index.html">Главная</a>
    </div>
    <div>
      <a href="../html/catalogue.html">Вклады</a>
    </div>
    <div>
      <a href="../html/catalogue -LOAN.html">Кредиты</a>
    </div>
    <div>
      <a href="../html/catalogue _IP.html">Ипотека</a>
    </div>
    <div>
      <a href="../html/catalogue _Card.html">Карты</a>
    </div>
  </nav>

  <div>
      <p><input type="range" min="0" max="24" onchange="document.getElementById('rangeValue').innerHTML = this.value;" list="rangeList"> <span id="rangeValue">12</span> <span> мес.</span></p>
      <datalist id="rangeList">
        <option value="4" label="4">
        <option value="8" label="8">
        <option value="12" label="12">
        <option value="16" label="16">
        <option value="20" label="20">
      </datalist>
    <p><b>Сумма в рублях:</b><br>
      <input type="text" size="40" id="summ" value="12">

    </p>
    <button alt="Зонтик" style="vertical-align: middle" onclick="g()"> Подобрать</button></p>
    <div id = "testw">

    </div>
  </div>





</main>

<button class="button-up" onclick="topFunction()" id="myBtn">
  <i class="fa fa-angle-double-up fa-5x"></i>
</button>

<footer>
  <div>
    <table>
      <caption>Наши контакты:</caption>
      <tr>
        <td>
          <p>ВК</p>
        </td>
        <td>
          <a href="https://vk.com/" target="_blank">vk.ru</a>
        </td>
      </tr>
      <tr>
        <td>
          <p>Госуслуги</p>
        </td>
        <td>
          <a href="https://www.gosuslugi.ru/" target="_blank">gosuslugi.ru</a>
        </td>
      </tr>
      <tr>
        <td>
          <p>Rutube</p>
        </td>
        <td>
          <a href="https://rutube.ru/" target="_blank">rutube.ru</a>
        </td>
      </tr>
    </table>
  </div>


</footer>
</body>
<script src="../js/drop_menu.js"></script>
</html>