<!DOCTYPE html>

<head>
    <title>ProBanks - Вклады</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Josefin+Sans&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="../js/up.js"></script>
</head>
<body>
    <header>
        <div>
            <img src="../pictures/pngwing.com (1).png" alt="логотип"/>
        </div>
        <div>
            <p>ProBanks</p>
        </div>
        <div>
            <form>
                <div>
                    <input placeholder="Поиск..." size="35" type="text"/>
                </div>
                <div>
                    <button>
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>
                
            </form>
        </div>
    </header>

    <main style="margin-top: 1.5em;">
        <nav class="nav-3">
		     <div>
                <a href="../html/index.html">Главная</a>
            </div>
            <div>
                <a href="../html/catalogue.html">Вклады</a>
            </div>
			<div>
                <a href="../html/catalogue -LOAN.html">Кредиты</a>
            </div>
            <div>
                <a href="../html/catalogue _IP.html">Ипотека</a>
            </div>
			<div>
                <a href="../html/catalogue _Card.html">Карты</a>
            </div>				
        </nav>
        <div class="catalogue-area">
            <div class="filters">
                <div class="dropdown">
                    <button onclick="dropFilterGenres()" class="dropbtn">Банк: </button>
                    <div id="myDropdownGenres" class="dropdown-content">
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="sber" name="sber">
                            <label for="sber">Сбер</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="alfa" name="alfa">
                            <label for="alfa">Альфабанк</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="vtb" name="vtb">
                            <label for="vtb">ВТБ</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="mcb" name="mcb">
                            <label for="mcb">МКБ</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="tinkov" name="tinkov">
                            <label for="tinkov">Тинькофф</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="custom-checkbox" id="renessans" name="renessans">
                            <label for="renessans">Ренессанс</label>
                        </div>
                    </div>
                    
                </div>
                <div style="padding-top: 1em;">
                    <div class="dropdown">
                        <button onclick="dropFilterPublish()" class="dropbtn">Срок вклада от: </button>
                        <div id="myDropdownPublish" class="dropdown-content">
                            <div>
                                <input type="checkbox" class="custom-checkbox" id="omonth" name="omonth" >
                                <label for="omonth">1 мес.</label>
                            </div>
                            <div>
                                <input type="checkbox" class="custom-checkbox" id="trmonth" name="trmonth" >
                                <label for="trmonth">3 мес.</label>
                            </div>
                            <div>
                                <input type="checkbox" class="custom-checkbox" id="sixmonth" name="sixmonth" >
                                <label for="sixmonth">6 мес.</label>
                            </div>
                            <div>
                                <input type="checkbox" class="custom-checkbox" id="twelmonth" name="twelmonth">
                                <label for="twelmonth">12 мес.</label>
                            </div>
                            <div>
                                <input type="checkbox" class="custom-checkbox" id="moreyear" name="moreyear">
                                <label for="moreyear">более 12 мес.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalogue" id="catalogue_area">
                <div>
                   <div>
                        <img src="http://www.sberbank.ru/static/images/deposit/2023_02/1675623180000_1110_imgUrl.png?_=1675623378919" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Лучший %»</p>
                        <p>до 9,5% от 100 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="http://www.sberbank.ru/static/images/deposit/2023_02/1675438020000_690_imgUrl.jpg?_=1675438059504" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">СберВклад и СберВклад Прайм</p>
                        <p >до 7,5% от 100 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://alfabank.servicecdn.ru/site-upload/df/da/585/Main_desktop__564x450_F0F3D4_301122.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Альфа-Вклад</p>
                        <p>до 9,5% от 10 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://www.vtb.ru/media-files/vtb.ru/sitepages/personal/vklady-i-scheta/Wide_DepositStable_1x.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Стабильный»</p>
                        <p>до 9,5% от 1 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://www.vtb.ru/media-files/vtb.ru/sitepages/personal/vklady-i-scheta/wide_Start_1x.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Выгодное начало»</p>
                        <p>до 8,13% от 1 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://mkb.ru/assets/images/deposits/megaonline.png?v=20220526" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">МЕГА Онлайн</p>
                        <p>до 6,5% до 2 млн ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://mkb.ru/assets/images/deposits/grandplus.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Гранд+</p>
                        <p>до 8% до 10 млн ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://acdn.tinkoff.ru/static/pages/files/eb1e2976-dc1a-4b9f-b730-6ea055c3b170.webp" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад для глобальных задач</p>
                        <p>до 8,64% от 50 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://rencredit.ru/upload/iblock/b83/b83da000f0d3e1363cc192dcf8895bcf.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Ренессанс Специальный»</p>
                        <p>до 8,75% от 5 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://rencredit.ru/upload/iblock/925/925798e19cdee2bc9e832253a4ca9f10.png" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Дом Холлоу</p>
                        <p>до 7,5% от 5 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://cdn.gpb.ru/upload/files/iblock/3ce/x1_2430kh800.webp" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Копить»</p>
                        <p>до 9,5% от 15 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://cdn.gpb.ru/upload/files/iblock/45a/x1_listing_vklad_65897937937-2430kh800.webp" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Акция «Хит сезона»</p>
                        <p>до 8,2% от 50 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="https://cdn.gpb.ru/upload/files/iblock/3e5/x1_2430kh800-48598756.webp" alt="Здесь должна быть картинка..." />
                    </div>
                    <div>
                        <p style="text-align: center; height: 2.5em;">Вклад «Почетный»</p>
                        <p>до 8,1% от 50 000 ₽</p>
                        <a>Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>
        
        

    </main>

    <button class="button-up" onclick="topFunction()" id="myBtn">
        <i class="fa fa-angle-double-up fa-5x"></i>
    </button>

    <footer>
        <div>
            <table>
                <caption>Наши контакты:</caption>
                <tr>
                    <td>
                        <p>ВК</p>
                    </td>
                    <td>
                        <a href="https://vk.com/" target="_blank">vk.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Госуслуги</p>
                    </td>
                    <td>
                        <a href="https://www.gosuslugi.ru/" target="_blank">gosuslugi.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Rutube</p>
                    </td>
                    <td>
                        <a href="https://rutube.ru/" target="_blank">rutube.ru</a>
                    </td>
                </tr>
            </table>
        </div>


    </footer>
</body>
<script src="../js/drop_menu.js"></script>
</html>