<!DOCTYPE html>
<html lang="en">
<head>
    <title>Описание книги</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Josefin+Sans&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <img src="../pictures/10.png" alt="логотип"/>
        </div>
        <div>
            <p>βιβλίο</p>
        </div>
        <div>
            <form>
                <div>
                    <input placeholder="Поиск..." size="35" type="text"/>
                </div>
                <div>
                    <button>
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>
                
            </form>
        </div>
    </header>

    <main>
        <div class="item-page">
            <img src="https://img-gorod.ru/29/367/2936735_detail.jpg"/>
            <div>
                <p>Тьма, - и больше ничего</p>
                <section class="first-section">
                    <p>Кинг С.</p>
                    <p>АСТ</p>
                    <p>Год издания: 2022</p>
                    <p>Жанр: ужасы</p>
                </section>
                <section class="second-section">
                    <p>Такова традиция: раз в несколько лет — иногда пять, а иногда и семь — Стивен Кинг публикует новый сборник произведений «малой прозы». 
                        Чаще всего это рассказы, но иногда — четыре (обязательно четыре!) повести. 
                        Так было с «Четырьмя сезонами», в состав которых вошла легендарная «Рита Хэйворт и побег из Шоушенка». 
                        Так было с книгой «Четыре после полуночи» с ее прославленными «Лангольерами».</p>
                    <p>«Тьма, — и больше ничего» — очередной сборник из четырех повестей, завоевавший любовь читателей по всему миру.</p>
                    <p>Бонус! Подарок Стивена Кинга самым преданным фанатам — рассказ «Нездоровье», который Мастер включил в переиздание сборника.</p>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <table>
                <caption>Где можно приобрести:</caption>
                <tr>
                    <td>
                        <p>Читай-город</p>
                    </td>
                    <td>
                        <a href="https://www.chitai-gorod.ru" target="_blank">chitai-gorod.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Лабиринт</p>
                    </td>
                    <td>
                        <a href="https://www.labirint.ru" target="_blank">labirint.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Book24</p>
                    </td>
                    <td>
                        <a href="https://book24.ru" target="_blank">book24.ru</a>
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin-left: 20em;">
            <table>
                <caption>Читать в электронном формате:</caption>
                <tr>
                    <td>
                        <p>ЛитРес</p>
                    </td>
                    <td>
                        <a href="https://www.litres.ru" target="_blank">litres.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Альдебаран</p>
                    </td>
                    <td>
                        <a href="https://aldebaran.ru" target="_blank">aldebaran.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>ZLibrary</p>
                    </td>
                    <td>
                        <a href="https://ru.au1lib.org" target="_blank">au1lib.org</a>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>
</html>