<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProBanks - Добавить продукт</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Josefin+Sans&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

</head>
<script>
    function validateForm() {
        var name = document.forms["addItemForm"]["furl"].value;
        var password = document.forms["addItemForm"]["ftitle"].value;
        var createDepositDto = JSON.stringify({
            name,
            password
        });
        $.ajax({
            type: "POST",
            url: "http://localhost:8093/authorization/autho",
            data: createDepositDto,
            contentType: "application/json",
            dataType: "json",

        }).done(function (data) {
            console.log(data);
            if (data == "Zareg") {

            } else {
                document.location.href = "../html/index.html";
            }
        }).fail(function(jqXHR, textStatus, error){
               alert(error);
               alert(textStatus);

            document.location.href = "http://www.site.ru";
        });

    }

    $(document).ready(function() {
        var url = 'http://localhost:8093/authorization/info';
        $.get(url, function(data) {
            if (data == "NO") {
                $("#text").text("Вход");
                $("#text").attr("href", '../html/login.html');
            } else {
                $("#text").text(data);
                $("#text").attr("href", '../html/profile.html');
            }
        });
    });
</script>
<body>
    <header>
        <div>
            <img src="../pictures/pngwing.com (1).png" alt="логотип"/>
        </div>
        <div>
            <p>ProBanks</p>
        </div>
        <div>
            <form>
                <div>
                    <button style="margin-left: 600px;">
                        <a id="text" onload="isAut()" href="../html/catalogue -LOAN.html"> </a>
                    </button>
                </div>
            </form>
        </div>
    </header>

    <main style="margin-top: 1.5em;">
        <nav class="nav-3">
            <div>
                <a href="../html/index.html">Главная</a>
            </div>
            <div>
                <a href="../html/catalogue -LOAN.html">Кредиты</a>
            </div>
            <div>
                <a href="../html/catalogue _IP.html">Ипотека</a>
            </div>
            <div>
                <a href="../html/catalogue _Card.html">Карты</a>
            </div>
        </nav>
        <div class="add-item-page">
            <form name="addItemForm">
                <div>
                    <label>Логин</label>
                    <input name="furl" type="text" placeholder="Логин" size="35" type="text" required/>
                </div>
                <div>
                    <label>Пароль</label>
                    <input name="ftitle" type="text" placeholder="Пароль" size="35" type="text" required/>
                </div>
                <div>
                    <button type="submit" onclick='validateForm()'>Отправить</button>
                </div>
                <div>
                    <a href="../html/add_item.html">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div>
            <table>
                <caption>Наши контакты:</caption>
                <tr>
                    <td>
                        <p>ВК</p>
                    </td>
                    <td>
                        <a href="https://vk.com/" target="_blank">vk.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Госуслуги</p>
                    </td>
                    <td>
                        <a href="https://www.gosuslugi.ru/" target="_blank">gosuslugi.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Rutube</p>
                    </td>
                    <td>
                        <a href="https://rutube.ru/" target="_blank">rutube.ru</a>
                    </td>
                </tr>
            </table>
        </div>


    </footer></body>
</html>