<!DOCTYPE html>
<head>
    <title>Лучшие из лучших</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Josefin+Sans&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <img src="../pictures/10.png" alt="логотип"/>
        </div>
        <div>
            <p>βιβλίο</p>
        </div>
        <div>
            <form>
                <div>
                    <input placeholder="Поиск..." size="35" type="text"/>
                </div>
                <div>
                    <button>
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>
                
            </form>
        </div>
    </header>

    <main style="margin-top: 1.5em;">
        <nav class="nav-3">
            <div>
                <a href="../html/interesting_facts.html">Интересные факты</a>
            </div>
            <div>
                <a href="../html/index.html">Главная</a>
            </div>
            <div>
                <a href="../html/top_books.html">Лучшие из лучших</a>
            </div>
        </nav>
        <div style="text-align:center; margin: 1.5em 0em;">
            <h1 style="color: #fdbdba;">Лучшие из лучших</h1>
        </div>
        <div class="class-top-books">
            <div>
                <img src="https://img-gorod.ru/28/413/2841357_detail.jpg" alt="Здесь должна быть картинка..." />
                <div>
                    <p>Детектив</p>
                    <p style="margin-top: 1.5em">Игры наследников</p>
                    <p>Дженнифер Линн Барнс</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>
    
            <div>
                <img src="https://img-gorod.ru/24/477/2447776_detail.jpg" alt="Здесь должна быть картинка..." />
                <div>
                    <p>Детектив</p>
                    <p style="margin-top: 1.5em">Щегол</p>
                    <p>Донна Тартт</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>
    
            <div>
                <img src="https://img-gorod.ru/29/397/2939708_detail.jpg" alt="Здесь должна быть картинка..." />
                <div>
                    <p>Фэнтези</p>
                    <p style="margin-top: 1.5em">Шестерка Атласа</p>
                    <p>Блейк О.</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>
    
            <div>
                <img src="https://img-gorod.ru/23/126/2312670_detail.jpg" alt="Здесь должна быть картинка..." />
                <div>
                    <p>Фэнтези</p>
                    <p style="margin-top: 1.5em">Ведьмак</p>
                    <p>Анджей Сапковский</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>
    
            <div>
                <img src="https://img-gorod.ru/28/694/2869449_detail.jpg" alt="Здесь должна быть картинка..." />
                <div>
                    <p>Графический роман</p>
                    <p style="margin-top: 1.5em">Человек-бензопила</p>
                    <p>Тацуки Фудзимото</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>
    
            <div>
                <img src="https://img-gorod.ru/29/349/2934937_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Графический роман</p>
                    <p style="margin-top: 1.5em">Магическая битва</p>
                    <p>Акутами Г.</p>
                    <a href="">Подробнее...</a>
                </div>

            </div>

            <div>
                <img src="https://img-gorod.ru/29/367/2936775_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Графический роман</p>
                    <p style="margin-top: 1.5em">Основатель Тёмного Пути</p>
                    <p>Мосян Тунсю</p> 
                    <a href="">Подробнее...</a>
                </div>
            </div>

            <div>
                <img src="https://img-gorod.ru/29/083/2908398_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Фэнтэзи</p>
                    <p style="margin-top: 1.5em">Лисьи Броды</p>
                    <p>Старобинец А.А.</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>

            <div>
                <img src="https://img-gorod.ru/26/738/2673825_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Графический роман</p>
                    <p style="margin-top: 1.5em">Гравити Фолз</p>
                    <p>Алекс Хирш</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>

            <div>
                <img src="https://img-gorod.ru/28/787/2878757_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Современная проза</p>
                    <p style="margin-top: 1.5em">Чумные ночи</p>
                    <p>Орхан Памук</p> 
                    <a href="">Подробнее...</a>
                </div>
            </div>

            <div>
                <img src="https://img-gorod.ru/29/068/2906878_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Боевик</p>
                    <p style="margin-top: 1.5em">Человек, который умер дважды</p>
                    <p>Ричард Осман</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>

            <div>
                <img src="https://img-gorod.ru/28/934/2893495_detail.jpg" alt="Здесь должна быть картинка..." width="15%" height="30%">
                <div>
                    <p>Современная проза</p>
                    <p style="margin-top: 1.5em">От первого лица: сборник рассказов</p>
                    <p>Харуки Мураками</p>
                    <a href="">Подробнее...</a>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div>
            <table>
                <caption>Где можно приобрести:</caption>
                <tr>
                    <td>
                        <p>Читай-город</p>
                    </td>
                    <td>
                        <a href="https://www.chitai-gorod.ru" target="_blank">chitai-gorod.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Лабиринт</p>
                    </td>
                    <td>
                        <a href="https://www.labirint.ru" target="_blank">labirint.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Book24</p>
                    </td>
                    <td>
                        <a href="https://book24.ru" target="_blank">book24.ru</a>
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin-left: 20em;">
            <table>
                <caption>Читать в электронном формате:</caption>
                <tr>
                    <td>
                        <p>ЛитРес</p>
                    </td>
                    <td>
                        <a href="https://www.litres.ru" target="_blank">litres.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Альдебаран</p>
                    </td>
                    <td>
                        <a href="https://aldebaran.ru" target="_blank">aldebaran.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>ZLibrary</p>
                    </td>
                    <td>
                        <a href="https://ru.au1lib.org" target="_blank">au1lib.org</a>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>
</html>